<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>room</key>
		<string>livingRoom</string>
		<key>plants</key>
		<array>
			<string>coffeeTable</string>
			<string>sideTable</string>
		</array>
	</dict>
	<dict>
		<key>room</key>
		<string>kitchen</string>
		<key>plants</key>
		<array/>
	</dict>
	<dict>
		<key>room</key>
		<string>master</string>
		<key>plants</key>
		<array>
			<string>leftSideTable</string>
			<string>rightSideTable</string>
		</array>
	</dict>
</array>
</plist>
